<div th:fragment="chemicalDialog"
     id="chemicalDialog" title="Chemical form" style="display:none;">
    <div class="grid gap-5">
        <div class="flex items-baseline gap-2.5" hidden>
            <label class="kt-form-label max-w-56">ID :</label>
            <input class="kt-input" id="chemicalId" disabled type="text"/>
        </div>
        <div class="flex items-baseline gap-2.5" hidden>
            <label class="kt-form-label max-w-56">Stage :</label>
            <input class="kt-input" id="chemicalStage" disabled type="text"/>
        </div>
        <div class="flex items-baseline gap-2.5">
            <label class="kt-form-label max-w-56">Compound Name :</label>
            <input class="kt-input" id="chemicalName" type="text"/>
        </div>
        <div class="flex items-baseline gap-2.5">
            <label class="kt-form-label max-w-56">Stoichiometry Deviation :</label>
            <input class="kt-input" id="chemicalDeviation" type="number"/>
        </div>
        <div class="flex items-baseline gap-2.5">
            <label class="kt-form-label max-w-56">Comment(s) :</label>
            <input class="kt-input" id="chemicalComment" type="text"/>
        </div>
        <div class="flex justify-end gap-2">
            <button type="button" id="saveChemical" class="kt-btn kt-btn-primary">Save</button>
            <button type="button" class="kt-btn" data-bs-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>
