<div th:fragment="mineralogyDialog"
     id="mineralogyDialog" title="Mineralogy" style="display:none;">
    <div class="grid gap-1 text-xs">
        <div class="flex items-baseline gap-2.5" hidden>
            <label class="kt-form-label max-w-56">ID :</label>
            <input class="kt-input" id="mineralogyId" disabled type="text"/>
        </div>
        <div class="flex items-baseline gap-2.5" hidden>
            <label class="kt-form-label max-w-56">Stage :</label>
            <input class="kt-input" id="mineralogyStage" disabled type="text"/>
        </div>
        <div class="flex items-baseline gap-2.5">
            <label class="kt-form-label max-w-56">Minerals Present :</label>
            <input class="kt-input" id="mineralogyMinerals" type="text"/>
        </div>
        <div class="flex items-baseline gap-2.5">
            <label class="kt-form-label max-w-56">Chemical composition of minerals :</label>
            <input class="kt-input" id="mineralogyChemistry" type="text"/>
        </div>
        <div class="flex items-baseline gap-2.5">
            <label class="kt-form-label max-w-56">Volume % of minerals :</label>
            <input class="kt-input" id="mineralogyVolume" type="number"/>
        </div>
        <div class="flex items-baseline gap-2.5">
            <label class="kt-form-label max-w-56">Notes :</label>
            <input class="kt-input" id="mineralogyNotes" type="text"/>
        </div>
        <div class="flex justify-end gap-2">
            <button type="button" id="saveMineralogy" class="kt-btn kt-btn-primary">Save</button>
        </div>
    </div>
</div>
