<div th:fragment="processInfoDialog"
     id="processInfoDialog" title="Process information" style="display:none;">
    <div class="grid gap-1 text-xs">
        <div class="flex items-baseline gap-2.5" hidden>
            <label class="kt-form-label max-w-56">ID :</label>
            <input class="kt-input" id="processId" disabled type="text"/>
        </div>
        <div class="flex items-baseline gap-2.5" hidden>
            <label class="kt-form-label max-w-56">Stage :</label>
            <input class="kt-input" id="processStage" disabled type="text"/>
        </div>
        <div class="flex items-baseline gap-2.5">
            <label class="kt-form-label max-w-56">Mining and milling process :</label>
            <input class="kt-input" id="processType" type="text"/>
        </div>
        <div class="flex items-baseline gap-2.5">
            <label class="kt-form-label max-w-56">Location of processing site :</label>
            <input class="kt-input" id="processLocation" type="text"/>
        </div>
        <div class="flex items-baseline gap-2.5">
            <label class="kt-form-label max-w-56">Start date when production occured :</label>
            <input class="kt-input" id="processStart" type="date"/>
        </div>
        <div class="flex items-baseline gap-2.5">
            <label class="kt-form-label max-w-56">End date when production occured :</label>
            <input class="kt-input" id="processEnd" type="date"/>
        </div>
        <div class="flex items-baseline gap-2.5">
            <label class="kt-form-label max-w-56">Notes :</label>
            <input class="kt-input" id="processNotes" type="text"/>
        </div>
        <div class="flex justify-end gap-2">
            <button type="button" id="saveProcessInfo" class="kt-btn kt-btn-primary">Save</button>
        </div>
    </div>
</div>
