<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'index')}">
<body>
<div class="kt-container-fluid px=0">
    <div class="kt-card">
        <div class="kt-card-header flex justify-between">
            <h3 class="kt-card-title">Material Records</h3>
            <form th:action="@{|/materials/new|}" method="post"
                  onsubmit="return confirm('Create new record?');">
                <input type="hidden" th:if="${_csrf != null}"
                       th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button class="kt-btn kt-btn-danger" type="submit">Create</button>
            </form>
        </div>
        <div class="kt-card-content">
            <link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css}" />
            <div class="table-responsive">
                <table id="materialsTable" class="display table w-full min-w-[600px]">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Creator</th>
                        <th>Creation Date</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="m : ${materials}">
                        <td th:text="${m.id}">1</td>
                        <td th:text="${m.creator != null ? m.creator.username : ''}">alice</td>
                        <td th:text="${m.creationDateTime}">2023-01-01</td>
                        <td>
                            
                        </td>
                        <td>
                            <form th:action="@{|/materials/${m.id}/delete|}" method="post"
                                  onsubmit="return confirm('Delete this record?');">
                                <input type="hidden" th:name="${_csrf.parameterName}"
                                       th:value="${_csrf.token}"/>
                                <button class="kt-btn kt-btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script th:src="@{https://code.jquery.com/jquery-3.7.1.min.js}"></script>
        <script th:src="@{https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js}"></script>
        <script>
            $(function(){
                $('#materialsTable').DataTable({
                    scrollX: true,
                    autoWidth: false,
                    columnDefs: [ { targets: '_all', className: 'whitespace-nowrap' } ]
                });
            });
        </script>
    </div>
</div>
</body>
</html>
